.contact-us{
    background-color: white;
    min-height: 609px;
    padding-top: 100px;
	article{
       .main-title{
        text-align: center;
        width: 620px;
        margin: 0 auto;
        h1{
      	  font-size: 36px;
          text-transform: uppercase;
        }
        p{
      	  color: #bbb;
      	  font-size: 13px;
        }
        .orange-line{
      	  width: 65px;
      	  margin: 0 auto;
      	  margin-top: 28px;
      	  margin-bottom: 28px;
      	  border-bottom: 2px solid rgb(255, 139, 56);
        }
     }
     form{
      margin-top: 70px;
      position: relative;
        fieldset{
          float: left;          
        }
        input[type="text"]{
          display: block;
          -webkit-box-shadow: none !important;;
          box-shadow: none; 
          width: 480px;
          margin-left: 20px;     
          margin-top: 40px;
          font-size: 15px;
          background: transparent  !important;
          border-top: transparent !important;
          border-left: transparent !important;
          border-right: transparent !important;
          border-bottom: 2px solid #ccc !important;
          box-shadow: none !important;
          &:focus{
            outline: none;
            border-top: transparent !important;
            border-left: transparent !important;
            border-right: transparent !important;
            border-bottom: 2px solid #ccc !important;
            box-shadow: none !important;
         }
        }
       input[type="button"]{
          display: block;
          width: 142px;      
          color:white;
          height: 44px;
          cursor: pointer;
          vertical-align: middle;
          text-align: center;
          position: absolute;
          top:250px;
          left: 500px;
          font-size: 14px;
          border-radius: 0 0 5px 5px; 
          background: rgb(255, 155, 81) !important;
          border-top: transparent !important;
          border-left: transparent !important;
          border-right: transparent !important;
          border-bottom: 2px solid transparent !important;
          box-shadow: none !important;
          &:focus{
            outline: none;
            border-top: transparent !important;
            border-left: transparent !important;
            border-right: transparent !important;
            border-bottom: 2px solid transparent !important;
            box-shadow: none !important;             
          } 
          &:hover{
             background-color: rgb(245, 155, 71)
          }
        }
        textarea{
          float: right;
          width: 480px;
          height: 150px;
          margin-top: 40px;
          resize: none;
          font-size: 15px;
          margin-right: 20px;
          background: transparent  !important;
          border-top: transparent !important;
          border-left: transparent !important;
          border-right: transparent !important;
          border-bottom: 2px solid #ccc !important;
          box-shadow: none !important;
          &:focus{
            outline: none;
            border-top: transparent !important;
            border-left: transparent !important;
            border-right: transparent !important;
            border-bottom: 2px solid #ccc !important;
            box-shadow: none !important;
         }
        }

     }
	}
}	