.header-top{
  width: 100%;
  background-color: black; 
  section{
   width: 1240px;
   min-height: 70px;	
   img{
   	 float: left;
   	 margin-top: 20px;
   	 margin-left: 76px;
   }
   .main-nav{
     float: right;
     margin-top: 30px;
     margin-right: 60px;
     font-size: 12px;
     font-family: 'Open Sans', sans-serif;
     ul{
      list-style: none;
      li{
       display: inline-block;       
       margin-right: 50px;
       &:last-child{
       	margin-right: 0;
       }
       a{
         color: rgb(176, 176, 176);
         text-decoration: none;
       
       &:hover{
         color:white;
       }
      }
     }
	}
  }
 }
}

.header-bottom{
	width: 100%;
	background-image: url("../img/header_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 650px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	section{      
      article{
      	float: left;
      	img{
      	  margin-top: 109px;
      	  margin-left: 20px;
        }
      	.header-text-big{
          width: 514px;
          margin-top: 30px;
          h1{
      	    font-size: 27px;      	   
      	    line-height: 37px;
      	    margin-left: 20px;
       	    width: 510px;
           }  
         }
        .header-text-small{
          width: 456px;   
          height: 100px;
          display: block;
          margin-top: 42px;
          margin-left: 20px;
          p{
          	font-size: 17px;      	  
      	    font-weight: lighter;
      	    font-style: italic;
          }
        }
        .white-line{
      	  width: 65px;
      	  border-top: 2px solid white;
      	  margin-left: 23px;
      	  margin-top:38px;      	 
        }
    
      .button{      	
		    border: 2px solid white;
		    color: white;
		    width: 132px;
		    padding-top: 10px;
		    padding-bottom: 10px;
		    font-size: 11px;	
		    margin-top: 50px;
		    margin-left: 50px;
		    cursor: pointer;
		    vertical-align: middle;
		    text-align: center;

		    &:hover{
			    color:rgb(176, 176, 176);
			    border-color: rgb(176, 176, 176);
		    }
	    }
    }


form{
		background: white;
		color:black;
		height:348px; 
		width:307px;
    border-radius: 5px;
    font-size: 'Open Sans', sans-serif;
    float: right;
    margin-top: 139px;
    margin-right: 20px;
		.form-text{
			background-color: rgb(245,245,245);
			width: 100%;
			text-transform: capitalize;
			text-align: center;
      vertical-align: middle;		
			height: 53px;
			border-radius: 5px 5px 0 0;			
			font-weight: bold;
			font-size: 17px;
			line-height: 50px;
			span{
				color: rgb(255, 139, 56);
				text-transform: uppercase;
			}
		}
	  input[type="text"],input[type="password"]{
		  display: block;
		  width: 283px;
		  height: 30px;		
      -webkit-box-shadow: none !important;;
      box-shadow: none;        
      margin: 0 auto;
      margin-top: 30px;
      font-size: 15px;
      background: transparent  !important;
      border-top: transparent !important;
      border-left: transparent !important;
      border-right: transparent !important;
      border-bottom: 2px solid #ccc !important;
      box-shadow: none !important;
      &:focus{
         outline: none;
         border-top: transparent !important;
         border-left: transparent !important;
         border-right: transparent !important;
         border-bottom: 2px solid #ccc !important;
         box-shadow: none !important;
      }
		}
		input[type="button"]{
		  display: block;
		  width: 100%;		  
		  color:white;
		  height: 54px;
      cursor: pointer;
		  vertical-align: middle;
		  text-align: center;
		  font-size: 14px;
		  margin-top: 50px;
		  border-radius: 0 0 5px 5px;	
		  background: rgb(255, 155, 81) !important;
      border-top: transparent !important;
      border-left: transparent !important;
      border-right: transparent !important;
      border-bottom: 2px solid transparent !important;
      box-shadow: none !important;
      &:focus{
         outline: none;
         border-top: transparent !important;
         border-left: transparent !important;
         border-right: transparent !important;
         border-bottom: 0px solid transparent !important;
         box-shadow: none !important;             
      }	
      &:hover{
       	background-color: rgb(245, 155, 71)
      }
		}
   }	
  }
}  