@import "susy";
@import "grid";
@import "reset";
@import "fonts";
@import "header";
@import "social_media";
@import "feature-one";

*{
	font-family: 'Open Sans', sans-serif;
}

.container{
	margin: 0 auto;
	width: 1140px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}