@import "susy";
@import "grid";
@import "reset";
@import "fonts";
@import "header";
@import "social_media";
@import "feature-one";
@import "feature-two";
@import "feature-tree";
@import "process";
@import "pricing";
@import "reviews";
@import "design";
@import "contact-us";
@import "footer";

*{
	font-family: 'Open Sans', sans-serif;
}

.container{
	margin: 0 auto;
	width: 1140px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

